.App {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.canvas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.board {
    position: relative;
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    align-items: center;
    justify-content: center;
}

.show {
    position: absolute;
    bottom: 0; right: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


.set_height {
    padding-bottom:100%;
    width:100%;
    height:0%;
}

#svg8, #svg9{
    height: 100%;
    width: 100%;
    padding-bottom: 0%;
}

.cell {
    position: relative;
    border: 1px solid DarkGrey;
    background-color: lightgrey;
    text-align: center;
    height: 100%;
    width: 100%;
}

svg {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}
