.App {
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
}

/* TODO: clean up css */

.canvas {
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    max-height: 100%;
}

.board {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    align-items: center;
    justify-content: center;
}

.scoreboard {
    height: 10%;
}

.boardContainer {
    display: inline-block;
    position: relative;
    height: 80%;
}

.panel {
    height: 10%;
}

img {
    height: 100%;
}

.show {
    /* TODO: center new scaled font */
    font-size: 75%;
    position: absolute;
    bottom: 0; right: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


/* .set_height {
    padding-bottom:100%;
    width:100%;
    height:0%;
} */
/* could use the :after pseudo element instead of set_height */
/* .square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
} */

#svg8, #svg9{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    height: 100%;
    width: 100%;
}

.cell {
    position: relative;
    outline: 1px solid DarkGrey;
    background-color: lightgrey;
    text-align: center;
    height: 100%;
    width: 100%;
}
